:root{
    --primary-color: #FFD700;
    --white-color: #fff;
    --black-color:#000;
    --text-color: #3D3D3D;
    --border-color:#dbdbdb;
    --bluedark-color:#020070;
    --background-color:#0f131d;
    --nav-height:34px;
    --header-height:120px;
    --search-height: calc(var(--header-height) - var(--nav-height));
    --header-sort-bar-height:46px;
    --play: running;
    --direction: normal;
    --duration: 48.7884s;
    --delay: 0s;
    --iteration-count: infinite;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
}

html {
    font-size: 62.5%; /* suy ra 16px = 1.6rem ,12px = 1.2rem */
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.mgl-24{
    margin-left: 24px;
}

.mgb-12{
    margin-bottom: 12px;
}

.align-item-center{
    align-items: center;
}